


.banner-img {

    width:90%;
    height:450px;
}


.sidebar-img{
    height:400px;
    width:auto;
}

body{
    background:#F1F0D1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    overflow:auto;
}


h1,h2,h3{
    text-align:center;
    padding-left:5%;
    color:#878e63;
}

p{
    padding:2%;
    color:#878e63;
}

img {
    text-align:center;
    max-width:100%;
    height:auto;
    width:auto;
}

#wrapper{
    margin: 0 auto;
    max-width:1020px;
    width:98%;
    background:#FEFBE8;
    border:1px solid #878e63;
    border-radius:2px;
    box-shadow:0 0 10px rgba(12,3,25,0.8);
}


#callout{
    width:100%;
    height:auto;
    background:#878e63;
    overflow:hidden;
}


#callout p{
    text-align:right;
    font-size:13px;
    color:#F1F0D1;
    padding:0.1% 5% 0 0;
}

#callout p a {
  color:#F1F0D1;
  text-decoration:none;
}

header {
    width:96%;
    min-height:125px;
    padding:5px;
    text-align:center;
}

